In [1]:
import pandas as pd

In [3]:
#criando um dataframe de um dicion√°rio
df = pd.DataFrame({'Yes': [50,21], 'No': [131,2]})
display(df)

   Yes   No
0   50  131
1   21    2

In [8]:
pd.Series([10,20,30,40,50])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
df2 = pd.Series([10,20,30,40], index=[5,6,7,8])
df2

5    10
6    20
7    30
8    40
dtype: int64

In [10]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [9]:
pd.Series([100,200,300,400,500], index=['linha 100', 'linha 200', 'linha 300', 'linha 400', 'linha 500' ])

linha 100    100
linha 200    200
linha 300    300
linha 400    400
linha 500    500
dtype: int64