In [2]:
import pandas as pd

fruits = pd.DataFrame({'Apples': [30], 'Bananas': [21]})

display(fruits)

   Apples  Bananas
0      30       21

In [6]:
fruit_sales = pd.DataFrame({'Apples': [35, 41], 
              'Bananas': [21, 34]},
             index=['2017 Sales', '2018 Sales'])

display(fruit_sales)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [8]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index = ['Flour', 'Milk', 'Eggs', 'Spam'], name = 'Dinner')
display(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [9]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [11]:
# salvar arquivo com resultado de dataframe
animals.to_csv("Teste.csv")

In [12]:
# para salvar sem os indexs
animals.to_csv('Teste_semindex.csv', index = False)